<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container-fluid" id="dash">

                        <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Crypto Pulses
                        </h1>
                     <div class="container">
                        <h2>Search Coin</h2>
                            <input class="form-control" id="myInput" type="text" placeholder="Search..">
                     </div>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-institution fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div><h3>Ether</h3></div>
                                    </div>
                                </div>
                            </div>
                                <div class="panel-footer">
                                    <div class="text-left">
                                        <button type="button" class="btn btn-default" data-toggle="tooltip"
                                                data-placement="top" title="The stocks you entered: {{ security1 | safe }} and {{ security2 | safe }}"><strong>Stocks</strong>
                                        </button>
                                        </div>
                                </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-institution fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div><h3>Bitcoin</h3></div>
                                    </div>
                                </div>
                            </div>
                                <div class="panel-footer">
                                    <div class="text-left">
                                        <button type="button" class="btn btn-default" data-toggle="tooltip"
                                                data-placement="top" title="The stocks you entered: {{ security1 | safe }} and {{ security2 | safe }}"><strong>Stocks</strong>
                                        </button>
                                        </div>
                                </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-institution fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div><h3>Litecoin</h3></div>
                                    </div>
                                </div>
                            </div>
                                <div class="panel-footer">
                                    <div class="text-left">
                                        <button type="button" class="btn btn-default" data-toggle="tooltip"
                                                data-placement="top" title="The stocks you entered: {{ security1 | safe }} and {{ security2 | safe }}"><strong>Stocks</strong>
                                        </button>
                                        </div>
                                </div>
                        </div>
                    </div>


                </div> <!--close row-->

</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("div[class='col-lg-4 col-md-4 col-sm-6']").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</body>
</html>