<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container-fluid" id="dash">

                        <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Crypto Pulses
                        </h1>
                     <div class="container">
                        <h2>Search a keyword(s)</h2>
                            <input class="form-control" id="myInput" type="text" placeholder="Search..">
                     </div>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
            <h2>Prices</h2>
                <div class="row">
                    <div class="col">
                        <div class="card">
                          <img class="card-img-top" src="..." alt="Card image cap">
                          <div class="card-block">
                            <h4 class="card-title">Bitcoin</h4>
                            <p class="card-text">Some quick example text to test on the card title and make up the bulk of the card's content.</p>
                            <a href="{{ url_for('bitcoin') }}" class="btn btn-primary">BTC HOME</a>
                          </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                          <img class="card-img-top" src="..." alt="Card image cap">
                          <div class="card-block">
                            <h4 class="card-title">Ethereum</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="{{ url_for('ethereum') }}" class="btn btn-primary">ETH HOME</a>
                          </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card">
                          <img class="card-img-top" src="..." alt="Card image cap">
                          <div class="card-block">
                            <h4 class="card-title">Litecoin</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="{{ url_for('litecoin') }}" class="btn btn-primary">LTC HOME</a>
                          </div>
                        </div>
                    </div>

                </div> <!--close row-->

                <h2>News</h2>
                <div class="row">
                    <div class="col">
                        <div class="card">
                          <img class="card-img-top" src="..." alt="Card image cap">
                          <div class="card-block">
                            <h4 class="card-title">Bitcoin blows up</h4>
                            <p class="card-text">Some quick example text to test on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                          <img class="card-img-top" src="..." alt="Card image cap">
                          <div class="card-block">
                            <h4 class="card-title">Is crypto doomed</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card">
                          <img class="card-img-top" src="..." alt="Card image cap">
                          <div class="card-block">
                            <h4 class="card-title">Investors bet big</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                          <img class="card-img-top" src="..." alt="Card image cap">
                          <div class="card-block">
                            <h4 class="card-title">Investors bet big</h4>
                            <p class="card-text">Why Ethereum may be better than bitcoin title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                          </div>
                        </div>
                    </div>

                </div> <!--close row-->

                <h2>Twitter</h2>
                <div class="row">
                    <div class="col">
                        <div class="card">
                          <div class="card-block">
                            <p class="card-text">Love this price rise in #ethereum</p>
                          </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                          <div class="card-block">
                            <p class="card-text">Love this price rise in #ethereum</p>
                          </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card">
                          <div class="card-block">
                            <p class="card-text">Is this the next bitcoin? #litecoin #bitcoin</p>
                          </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                          <div class="card-block">
                            <p class="card-text">Love this price rise in #bitcoin</p>
                          </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                          <div class="card-block">
                            <p class="card-text">jamie dimon is a little bi*tch #decentralization</p>
                          </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                          <div class="card-block">
                            <p class="card-text">Go ether! #ETH</p>
                          </div>
                        </div>
                    </div>

                </div> <!--close row-->

                <h2>Reddit</h2>
                <div class="row">
                    <div class="col">
                        <div class="card">
                          <div class="card-block">
                            <p class="card-text">Love this price rise in #ethereum</p>
                          </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                          <div class="card-block">
                            <p class="card-text">Love this price rise in #ethereum</p>
                          </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card">
                          <div class="card-block">
                            <p class="card-text">Is this the next bitcoin? #litecoin #bitcoin</p>
                          </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                          <div class="card-block">
                            <p class="card-text">Love this price rise in #bitcoin</p>
                          </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                          <div class="card-block">
                            <p class="card-text">jamie dimon is a little bi*tch #decentralization</p>
                          </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                          <div class="card-block">
                            <p class="card-text">Go ether! #ETH</p>
                          </div>
                        </div>
                    </div>

                </div> <!--close row-->

</div>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#dash div[class='col']").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</body>
</html>